.col-xs-4 {
  text-align: center;
  align-content: center;
}

#spriteA,
#spriteB {
  width: 250px;
  height: 250px;
  border: 2px solid;
  margin: 0 auto;
  border-radius: 25%;
}

#spriteA img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#spriteA {
  background-color: #aed4fe;
  border-color: blue;
}

#spriteB {
  background-color: #ffa8b4;
  border-color: red;
}
body {
  /* background-image: url('../images/school.png'); */
  background-color: pink;
}

input {
  text-align: center;
  background-color: #fff5e6;
  border-radius: 10px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.input {
  margin-top: 63px;
}

.name {
  position: relative;
  top: 15px;
  font-family: sans-serif;
  font-size: 18px;
}

.type {
  margin-top: 12px;
  font-size: 12px;
}

img {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 120px;
}
